@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins";
}

a {
  color: inherit;
  text-decoration: none;
}

.customMenu.Mui-selected {
  color: #fff !important;
}

.round-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  font-size: 36px;
  font-weight: 900;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #1034a6;
  border-radius: 20px;
}

@media (max-width: 999px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}


@font-face {
  font-family: "UrbanistLight";
  src: url("/fonts/Urbanist-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "UrbanistRegular";
  src: url("/fonts/Urbanist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "UrbanistMedium";
  src: url("/fonts/Urbanist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "UrbanistSemiBold";
  src: url("/fonts/Urbanist-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "UrbanistBold";
  src: url("/fonts/Urbanist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "UrbanistExtraBold";
  src: url("/fonts/Urbanist-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OutfitLight";
  src: url("/fonts/Outfit-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OutfitRegular";
  src: url("/fonts/Outfit-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OutfitMedium";
  src: url("/fonts/Outfit-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OutfitSemiBold";
  src: url("/fonts/Outfit-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OutfitBold";
  src: url("/fonts/Outfit-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OutfitExtraBold";
  src: url("/fonts/Outfit-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}