node_modules
npm-debug.log
.env
.env.local
.env.production
.git
.gitignore
README.md
*.md
logs
*.log
.DS_Store
coverage
build
public/images/*
public/videos/*
!public/images/.gitkeep
!public/videos/.gitkeep

